@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mouse-gradient-color: theme(colors.zinc.200 / 60%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --mouse-gradient-color: theme(colors.zinc.900);
  }
}

@layer utilities {
  .safe-area {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-left);
  }

  /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s#accessibility_concerns */
  .line-through-accessibility::before,
  .line-through-accessibility::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .line-through-accessibility::before {
    content: " [start of stricken text] ";
  }
  .line-through-accessibility::after {
    content: " [end of stricken text] ";
  }

  .max-width {
    @apply mx-auto max-w-screen-lg px-4;
  }
  .max-width-no-padding {
    @apply mx-auto max-w-screen-lg;
  }
  pre code {
    @apply rounded-md;
  }

  /* article.post .mdx-components > *:not(.wide),
  article.post header {
    @apply max-width;
  }
  article.post .mdx-components > .wide {
    @apply w-full;
  } */
  .mdx-components pre {
    @apply rounded-md p-4;
  }
}

.type-normal {
  background-color: #a8a878;
}
.type-fire {
  background-color: #f08030;
}
.type-water {
  background-color: #6890f0;
}
.type-electric {
  background-color: #f8d030;
}
.type-fighting {
  background-color: #c03028;
}
.type-grass {
  background-color: #78c850;
}
.type-flying {
  background-color: #a890f0;
}
.type-poison {
  background-color: #a040a0;
}
.type-ground {
  background-color: #e0c068;
}
.type-psychic {
  background-color: #f85888;
}
.type-rock {
  background-color: #b8a038;
}
.type-ice {
  background-color: #98d8d8;
}
.type-bug {
  background-color: #a8b820;
}
.type-dragon {
  background-color: #7038f8;
}
.type-ghost {
  background-color: #705898;
}
.type-dark {
  background-color: #705848;
}
.type-steel {
  background-color: #b8b8d0;
}
.type-fairy {
  background-color: #ee99ac;
}
.type-unknown {
  background-color: #68a090;
}
.type-shadow {
  background-color: #68a090;
}
